* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'montserrat'; */
    font-family: 'Montserrat', sans-serif;
    color: #fff;
}

html, body{
    height: 100%;
    width: 100%;
}

a{
    text-decoration: none;
}

#nav{
    height: 150px;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 5vw;
    gap: 5vw;
    position: fixed;
    z-index: 99;
}

#nav .menu_desk{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 5vw;
    gap: 5vw;
    z-index: 99;
}

#nav .menu-btn{
    display: none;
}

#nav .menu_mobile.active{
    position: fixed;
    top: 0;
    left: 0;
    background: linear-gradient(to left bottom, #119f3a, #ace022);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#nav .menu_mobile.active h4{
    font-size: 5vw;
    font-weight: 900;
    margin: 2vh 0;
}

#nav .menu_mobile.active h4:hover{
    color: #000;
}

#nav .menu_mobile.active img{
    position: absolute;
    top: 0;
    left: 0;
    margin: 5vw;
}

#nav .menu_mobile.active .close-nav-btn{
    position: absolute;
    top: 0;
    right: 0;
    margin: 5vw;
    font-size: 5vw;
}

#nav .menu_mobile.no-active{
    display: none;
}

#nav img{
    height: 80px;
}

#nav h4{
    text-transform: uppercase;
    cursor: pointer;
}

#nav h4:hover{
    color: #95c11e;
}

.hover-this{
    transition: all 0.3s ease;
}

.bgNavBgColor{
    transform: all 1s;
    background-color: #000;
    color: #fff;
    animation: navFaceIn ease 0.5s;
}

video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: fixed;
    z-index: -1;
    transform: translateX();
}

#main{
    position: relative;
}

.bg{
    background-color: rgba(0, 0, 0, 0.5);
}

.changeMainBg{
    transform: all 1s;
    background-color: rgba(0, 0, 0, 1);
    animation: mainFaceIn ease 2s;
}
#page1{
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    z-index: 10;
}

#page1 h1{
    font-size: 9vw;
    font-weight: 900;
    width: 80vw;
    line-height: 15vh;
    position: relative;
}

#page1 h1::before{
    content: "EAT. DRINK. PLAY.";
    position: absolute;
    color: #000;
    top: -6px;
    left: -10px;
    -webkit-text-stroke: 2px #B3E824;
    z-index: -1;
}

#page1 h2{
    font-size: 1.8vw;
    font-weight: 800;
    width: 80vw;
    padding-top: 40px;
    padding-bottom: 15px;
}

#page1 p{
    font-size: 1.5vw;
    font-weight: 400;
    width: 50vw;
}

#cursor{
    height: 20px;
    width: 20px;
    background-color: #95c11e;
    border-radius: 50%;
    position: fixed;
    z-index: 99;
    transition: 0.2s;
    pointer-events: none;
    transform: translate(-50%, -50%);
}

#cursor-blur{
    height: 500px;
    width: 500px;
    background-color: rgba(150, 193, 30, 0.248);
    border-radius: 50%;
    position: fixed;
    filter: blur(50px);
    z-index: 9;
    transition: 0.5s;
    pointer-events: none;
}

#page2{
    min-height: 100vh;
    width: 100%;
    z-index: 10;
}

#scroller{
    white-space: nowrap;
    position: relative;
    z-index: 10;
    overflow: hidden;
}

#scoller-in{
    display: inline-block;
    white-space: nowrap;
    animation-name: scroll;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    z-index: 10;
}

#scroller h4{
    display: inline-block;
    font-size: 7vw;
    font-weight: 900;
    margin-right: 10px;
    -webkit-text-stroke: 1px #fff;
    color: transparent;
    position: relative;
    z-index: 10;
    transition: all linear 0.5s;
}

#scroller h4:hover{
    color: #95c11e;
    -webkit-text-stroke: 0;
}

#about{
    display: flex;
    padding: 5vw;
    justify-content: space-around;
    align-items: center;
    position: relative;
    z-index: 10;
    flex-direction: column;
    position: relative;
    margin: 6vw 0;
}

#about-in{
    width: 50%;
    text-align: center;
}

#about .row.img{
    position: absolute;
    display: grid;
    grid-template-columns: 15vw 15vw;
    gap: 50vw;
    left: 10vw;
    right: 10vw;
}

#about .row.img img{
    width: 100%;
    height: 100%;
}

.title{
    font-size: 3vw;
    font-weight: 900;
    margin-bottom: 4vh;
    text-transform: uppercase;
}

.content{
    font-size: 1.5vw;
    line-height: 5vh;
    margin-bottom: 4vh;    
}

#about img{
    width: 15%;
    height: 15%;
    object-fit: cover;
    border-radius: 1vh;
}

#card-container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4vw;
    position: relative;
    z-index: 10;
}

.card{
    height: 80%;
    width: 25%;
    border-radius: 1vw;
    background-size: cover;
    background-position: center;
    transition: all ease 0.6s;
    overflow: hidden;
}

#card1{
    background-image: url(https://eiwgew27fhz.exactdn.com/wp-content/uploads/2023/02/home-toptracer.jpg?strip=all&lossy=1&sharp=1&fit=1024%2C682&ssl=1);
}

#card2{
    background-image: url(https://eiwgew27fhz.exactdn.com/wp-content/uploads/2023/02/hero-4.jpg?strip=all&lossy=1&sharp=1&ssl=1);
}

#card3{
    background-image: url(https://eiwgew27fhz.exactdn.com/wp-content/uploads/2023/02/home-lessons.jpg?strip=all&lossy=1&sharp=1&ssl=1);
}

.overlay{
    height: 100%;
    width: 100%;
    background-color:#B3E824;
    padding-top: 160px;
    padding: 50px;
    border-radius: 1vw;
    opacity: 0;
    transition: all ease 0.6s;
    position: relative;
}

.overlay h3{
    color: #000;
    font-size: 2.5vw;
    font-weight: 900;
    margin-bottom: 1.5vw;
}

.overlay p{
    color: #000;
    font-size: 1.2vw;
    line-height: 5vh;
}

.overlay i{
    position: absolute;
    font-size: 2vw;
    color: #000;
    top: -1.5vw;
    right: -1.5vw;
    border-radius: 50%;
    border: 0.3vw solid #000;
    padding: 1.5vw;
}

.card:hover .overlay{
    opacity: 1;
}

.card:hover{
    transform: rotate3d(-1,1,0,15deg);
}

#green-div {
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: red; */
    background: linear-gradient(to left bottom, #119f3a, #ace022);
}
#green-div h4 {
    width: 45%;
    line-height: 50px;
    color: #000;
    text-align: center;
    font-weight: 800;
    font-size: 27px;
    text-transform: uppercase;
}
#green-div img {
    height: 100%;
    object-fit: cover;
    width: 14%;
}

#page3 {
    height: 100vh;
    width: 100%;
    background-color: #000;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
}
#page3 > p {
    font-size: 2.5vw;
    font-weight: 700;
    width: 60%;
    line-height: 45px;
    text-align: center;
    position: relative;
    z-index: 10;
}

#page3 img {
    position: absolute;
    height: 60px;
}
.colon1 {
    left: 10%;
    top: 20%;
}
.colon2 {
    bottom: 25%;
    right: 10%;
}

.changeColon1{
    left: 15%;
    top: 25%;
    transition: all ease 2s;
}

.changeColon2{
    bottom: 30%;
    right: 15%;
    transition: all ease 3s;
}

#page4 {
    height: 30vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
    position: relative;
  }
.elem {
    height: 70%;
    width: 26%;
    overflow: hidden;
    border-radius: 20px;
    position: relative;
}
  
.elem h2 {
    height: 100%;
    width: 100%;
    background-color: #95c11e;
    display: flex;
    color: #000;
    font-weight: 800;
    align-items: center;
    justify-content: center;
    transition: all ease 0.5s;
    font-size: 2vw;
    position: absolute;
    z-index: 10;
}
.elem img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: all ease 0.5s;
    scale: 1.1;
}
.elem:hover h2 {
    color: #fff;
    background-color: transparent;
  }
.elem:hover img {
    scale: 1;
  }
#page4 h1 {
    font-size: 6vw;
    position: absolute;
    font-weight: 900;
    font-family: gilroy;
    color: #000;
    -webkit-text-stroke: 2px #fff;
}

.end{
    top: -15%;
    position: relative;
    z-index: 10;
    color: transparent;
}

.changeEnd{
    top: -50%;
    transition: all ease 1s;
}
#footer {
    height: 40vh;
    width: 100%;
    background: linear-gradient(to left bottom, #119f3a 0%, #a3d421 80%);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 6.5vw;
    padding: 0 100px;
    overflow: hidden;
}
#footer > img {
    position: absolute;
    left: 0;
    height: 100%;
    z-index: 0;
}
#f1 img {
    height: 100px;
}
#f1,#f2,#f3,#f4 {
    width: fit-content;
    position: relative;
    z-index: 99;
    /* background-color: red; */
}
#f2 h3 {
    font-size: 1.6vw;
    white-space: nowrap;
    text-transform: uppercase;
    color: #000;
    font-weight: 900;
    margin-bottom: 8px;
}
  
#f3 h3 {
    font-size: 1.6vw;
    white-space: nowrap;
    text-transform: uppercase;
    color: #000;
    font-weight: 800;
    margin-bottom: 8px;
  }
#f4 h4 {
    font-size: 1vw;
    white-space: nowrap;
    text-transform: uppercase;
    color: #000;
    font-weight: 600;
    line-height: 20px;
    margin-bottom: 8px;
}

#page6{
    height: 90vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    z-index: 10;
    overflow: hidden;
}

.scrollerFull{
    transform: rotate(-3deg) translateY(10%);
}

.scroller-img{
    display: flex;
    white-space: nowrap;
    overflow: hidden;
}

.scroller-img-in{
    animation-name: scroll;
    animation-duration: 50s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.scroller-img-in img{
    width: 217px;
    height: 271px;
    object-fit: cover;
    margin: 15px;
    border-radius: 10px;
    display: inline-block;
}

.scroller-img-title a{
    color: #fff;
    text-decoration: none;
    font-size: 2.5vw;
    font-weight: 900;
    float: right;
    margin-right: 5vw;
}

.img-slider{
    background-color: #95c11e;
    width: 180%;
    height: 60vh;
    border-radius: 1vw;
    position: relative; 
    overflow: hidden;
    z-index: 10;
}

.img-slider .slider{
    z-index: 1;
    position: absolute;
    width: 100%;
}

.img-slider .slider.active{
    transition: 2s;
    opacity: 1;
}

.img-slider .btn.active{
    /* scale: 2; */
    transition: 1s;
    /* background-color: red; */
    background-color: #95c11e;
    width: 12px;
    height: 12px;
    margin: 10px;
    border-radius: 50%;
    cursor: pointer;
}

.img-slider .no-display{
    opacity: 0;
    transition: 2s;
}

.img-slider .slider img{
    z-index: 1;
    width: 100%;
    border-radius: 5px;
}

.img-slider .navigation{
    z-index: 2;
    position: absolute;
    display: flex;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
}

.img-slider .navigation .btn.no-active{
    background-color: rgba(255, 255, 255, 0.5);
    width: 12px;
    height: 12px;
    margin: 10px;
    border-radius: 50%;
    cursor: pointer;
    border: none;
}

#page5{
    position: relative;
    z-index: 10;
    display: flex;
    gap: 8vw;
    padding: 7vw;
}

.clear{
    clear: both;
}


@keyframes navFaceIn{
    from{
        opacity: 0;
    }

    to{
        opacity: 1;
    }
}

@keyframes mainFaceIn{
    from{
        opacity: 0.5;
    }

    to{
        opacity: 1;
    }
}

@keyframes scroll{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}